<?xml version="1.0" encoding="UTF-8"?>
<menu>
  <item label="Home" href="/index.jsp" />
  <item label="Cases" href="/cases.jsp" />
  <item label="Contacts" href="/contacts.jsp" />
  <item label="Documents" href="/documents.jsp" />
  <item label="Search" href="/search.jsp" />
  <item label="Facts Case Plan" href="/facts.jsp" />
  <item label="Tasks" href="/tasks.jsp" />
  <item label="Omnichannel Threads" href="/omnichannel.jsp" />
  <item label="Knowledge Wiki" href="/wiki.jsp" />
  <item label="Texas Law" href="/texas_law.jsp" />
  <item label="Case Fields" href="/case_fields.jsp" />

  <item label="Form Assembler">
    <item label="Assemble a Form" href="/forms.jsp" />
    <item label="View the Assembled Forms" href="/assembled_forms.jsp" />
    <item label="Template Library" href="/template_library.jsp" />
    <item label="Template Editor" href="/template_editor.jsp" />
  </item>

  <item label="Settings">
    <item label="Users &amp; Security" href="/users_roles.jsp" />
    <item label="Permission Layers" href="/permissions_management.jsp" />
    <item label="User Settings" href="/user_settings.jsp" />
    <item label="Change E-Mail Address" href="/change_email.jsp" />
    <item label="Change Password" href="/change_password.jsp" />
    <item label="Tenant Fields" href="/tenant_fields.jsp" />
    <item label="Attribute Editor" href="/attribute_editor.jsp" />
    <item label="Custom Objects" href="/custom_objects.jsp" />
    <item label="Case Attributes" href="/case_attributes.jsp" />
    <item label="Document Attributes" href="/document_attributes.jsp" />
    <item label="Task Attributes" href="/task_attributes.jsp" />
    <item label="Business Processes" href="/business_processes.jsp" />
    <item label="BPM Reviews" href="/business_process_reviews.jsp" />
    <item label="Tenant Settings" href="/tenant_settings.jsp" />
    <item label="Plugin Manager" href="/plugin_manager.jsp" />
    <item label="Logs" href="/log_viewer.jsp" />
  </item>

  <item label="Help">
    <item label="Help Center" href="/help_browser.jsp?topic=help_center" />
    <item label="Getting Started (Legal Team)" href="/help_browser.jsp?topic=getting_started" />
    <item label="Case Workflow Guide" href="/help_browser.jsp?topic=case_workflow" />
    <item label="Form Assembly Guide" href="/help_browser.jsp?topic=form_assembly" />
    <item label="Facts Guide (Novice)" href="/help_browser.jsp?topic=facts_novice" />
    <item label="Facts Guide (Expert)" href="/help_browser.jsp?topic=facts_expert" />
    <item label="Tasks Guide (Novice)" href="/help_browser.jsp?topic=tasks_novice" />
    <item label="Tasks Guide (Expert)" href="/help_browser.jsp?topic=tasks_expert" />
    <item label="Business Processes Guide (Expert)" href="/help_browser.jsp?topic=business_processes_expert" />
    <item label="Threads Guide (Novice)" href="/help_browser.jsp?topic=threads_novice" />
    <item label="Threads Guide (Expert)" href="/help_browser.jsp?topic=threads_expert" />
    <item label="Permissions Guide" href="/help_browser.jsp?topic=permissions_guide" />
    <item label="Token Guide" href="/token_guide.jsp" />
    <item label="Markup Notation" href="/markup_notation.jsp" />
  </item>
</menu>
