<?xml version="1.0" encoding="UTF-8"?>
<menu>
  <item label="Home" href="/index.jsp" />
  <item label="Users &amp; Security" href="/users_roles.jsp" />
  <item label="Cases" href="/cases.jsp" />
  <item label="Tenant Fields" href="/tenant_fields.jsp" />
  <item label="Tenant Settings" href="/tenant_settings.jsp" />
  <item label="Form Assembly" href="/forms.jsp" />
  <item label="Assembled Forms" href="/assembled_forms.jsp" />
  <item label="Template Library" href="/template_library.jsp" />
  <item label="Case Fields" href="/case_fields.jsp" />
  <item label="Token Guide" href="/token_guide.jsp" />
  <item label="Markup Notation" href="/markup_notation.jsp" />
  <item label="Plugin Manager" href="/plugin_manager.jsp" />
  <item label="Logs" href="/log_viewer.jsp" />
</menu>
