<?xml version="1.0" encoding="UTF-8"?>
<menu>
  <item label="Home" href="/index.jsp" />
  <item label="Users &amp; Security" href="/users_roles.jsp" />
  <item label="Cases" href="/cases.jsp" />
  <item label="Documents" href="/documents.jsp" />
  <item label="Texas Law" href="/texas_law.jsp" />
  <item label="Case Fields" href="/case_fields.jsp" />

  <item label="Form Assembler">
    <item label="Form Assembly" href="/forms.jsp" />
    <item label="Assembled Forms" href="/assembled_forms.jsp" />
    <item label="Template Library" href="/template_library.jsp" />
    <item label="Template Editor" href="/template_editor.jsp" />
  </item>

  <item label="Settings">
    <item label="Tenant Fields" href="/tenant_fields.jsp" />
    <item label="Attribute Editor" href="/attribute_editor.jsp" />
    <item label="Custom Objects" href="/custom_objects.jsp" />
    <item label="Case Attributes" href="/case_attributes.jsp" />
    <item label="Document Attributes" href="/document_attributes.jsp" />
    <item label="Tenant Settings" href="/tenant_settings.jsp" />
    <item label="Plugin Manager" href="/plugin_manager.jsp" />
    <item label="Logs" href="/log_viewer.jsp" />
  </item>

  <item label="Help">
    <item label="Help Center" href="/help_center.jsp" />
    <item label="Getting Started (Legal Team)" href="/help_getting_started.jsp" />
    <item label="Case Workflow Guide" href="/help_case_workflow.jsp" />
    <item label="Form Assembly Guide" href="/help_form_assembly.jsp" />
    <item label="Token Guide" href="/token_guide.jsp" />
    <item label="Markup Notation" href="/markup_notation.jsp" />
  </item>
</menu>
